<!DOCTYPE html>
<html>
<head>
  <title>New Post</title>
</head>
<body>

<h2>Create Post</h2>

<form method="POST" action="/posts">
  <input type="text" name="username" placeholder="username" required>
  <br><br>
  <textarea name="content" placeholder="content" required></textarea>
  <br><br>
  <button>Create</button>
</form>

</body>
</html>