
div{
    background-color: #614E72;
    padding: 20px;
    border-radius: 5px;
    margin:5px;
    border:1px solid white;
}
h4{
    color:#FF785E;
}   
h3{
    color: #FFC345;
}
button{
    background-color: #FF785E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
p{
    color:antiquewhite;
}
a{
    color: #FFC345;
    text-decoration: none;
}


